:root {
    /* --border-gold: darkgoldenrod; */
    --border-gold: rgba(184, 135, 11, 0.659);
    --border-gold: rgba(184, 135, 11, 0.401);
    --border-grey: rgb(200, 200, 200);
    --border-gold-disabled: rgba(184, 135, 11, 0.547);
    --text-field-offwhite: #efefef;
    --text-field-offwhite: #ffffffe3;
    /* --text-field-offwhite: #ffffffba; */
    --wrap-highlight--light: rgba(251, 239, 214, 0.521);
    /* --wrap-highlight--light: #fff1e6; */
    /* --wrap-highlight--light: #f9e2d1; */
    --font-24: 24px;
    --font-32: 32px;
    --font-48: 48px;
    --font-64: 64px;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* filter: grayscale(1); */
}

/* 

textarea:focus, input:focus{
    outline: none;
}

Chrome will also apply highlighting to other elements such as DIV's used as modals. To prevent the highlight on those and all other elements as well, you can do:

⚠️ Accessibility warning
Please notice that removing outline from input is an accessibility bad practice. Users using screen readers will not be able to see where their pointer is focused at. */
*:focus {
    outline: none;
}

body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: white;
    background-color: whitesmoke;
    filter: grayscale(0.2);
}

body.dark-theme {
    /* background-color: #222020;
    background-color: #151414e6; */
    background-color: #000000;
    filter: grayscale(0.45);
}

h1 {
    font-weight: 300;
}

/* COLOUR CODE EXAMPLES */
h3 {
    font-size: 24px;
    font-weight: 400;
}

/* .colour-code-wrap--not typed.dark-theme h3 {
    color: white;
} */

.hidden {
    /* visibility: hidden; */
    display: none;
}

/* WRAP TITLES */

/* BLACK BY DEFAULT */
.wrap-title {
    font-weight: 100;
    /* color: darkgoldenrod; */
}

/* ALL DARK THEME WRAP TITLES */
.container.dark-theme .wrap-title {
    font-weight: 100;
    color: darkgoldenrod;
}

/* 
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰  MAIN APP  🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.container {
    width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    /* padding: 25px; */
    /* border: 1px solid darkgoldenrod; */
    border: 1px solid var(--border-grey);
    border-radius: 4px;

    background: #f0efeb;
    /* background: whitesmoke; */
    font-weight: 100;
}

.container.dark-theme {
    border: 1px solid var(--border-gold);
    background-color: rgb(28, 28, 28);
    /* border: 1px solid rgb(23, 96, 24); */
}

.wrapper {
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;
}

button:disabled:hover {
    cursor: default;
}

/* 
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰  SECTIONS  🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.active-container,
.next-container,
.input-container,
.controls-container,
/* .stats-container, */
.colour-code-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.next-container {
    margin-top: 25px;
}

/* 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 CONTROLS 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.controls-container {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px 0px 0px;
    height: 150px;
}

.control-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 125px;
    height: 150px;
    padding: 10px 0px 10px 0px;
    border-radius: 4px;
}

/* +++++++++++++++++++++++++++++++++ */
/* TEMPORARY SETTINGS FOR TIMER WRAP */
/* .control-wrap.enter-control-wrap {
    display: block;
} */

/* .enter-buttons-container {
    margin-top: 14px;
} */
/* +++++++++++++++++++++++++++++++++ */

.spacer-div {
    height: 125px;
    border-left: 1px solid var(--border-grey);
}

.container.dark-theme .spacer-div {
    border-left: 1px solid var(--border-gold);
}

.difficulty-radios-container,
.punctuation-buttons-container,
.capital-buttons-container,
.sound-buttons-container,
.timer-buttons-container,
.enter-buttons-container {
    /* FLEX: COLUMN WILL INCREASE DIFF RADIOS HEIGHT (WITH MARGIN OR SOME SPACE) */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: start; */
    height: fit-content;
    /* border: 1px solid black; */
}

.control-wrap button {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.control-wrap.dark-theme button {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    background: #4d4d4d91;
    color: darkgoldenrod;
}

/* .control-wrap button:disabled {
    opacity: 0.7;
} */

/* COLOUR APPLY BUTTON GETS DISABLED IN JS: themeApply.addEventListener */
.control-wrap.dark-theme button:disabled {
    opacity: 0.4;
}

/* TEXT  (20-50) AND CURRENT LENGTH*/
.control-wrap.dark-theme {
    color: darkgoldenrod;
}

/* .control-wrap button:active:hover {
    background: lightgreen;
} */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* CONTROL PANEL BUTTONS */
.control-panel-button {
    width: 45px;
    height: 25px;

    /* border: 1px solid var(--border-grey);
    background: rgb(252, 122, 122);
     */

    /* 1. MAKE DEFAULT RED */
    border: 1px solid red;
    color: red;

    border-radius: 4px;

    opacity: 0.75;
}

.control-panel-button.control-apply-active {
    opacity: 1;
}

.info-button,
.beginner-button,
.theme-toggle {
    color: green;
    border: 1px solid green;
    /* background: rgb(164, 215, 164); */

    opacity: 1;
}

/* 2. TOGGLE ON - GREEN */
.control-panel-button.toggle-on {
    /* background: rgb(164, 215, 164); */
    border: 1px solid green;
    color: green;
    opacity: 1;
}

.control-panel-button.apply-button {
    /* border: 1px solid var(--border-grey); */
    border: 1px solid black;
    color: black;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */

.control-wrap.dark-theme .control-panel-button {
    border: 1px solid var(--border-gold);
}

/* CONTROL PANEL BUTTONS : DISABLED */
.control-panel-button:disabled,
.start-button:disabled {
    /* border: 1px solid var(--border-grey); */
    /* background: rgba(255, 255, 255, 0.52);
    background: rgba(251, 239, 214, 0.521); */
    opacity: 0.5;
}

.control-wrap.dark-theme .control-panel-button:disabled,
.start-button.dark-theme:disabled {
    border: 1px solid var(--border-gold-disabled);
    background: rgba(184, 135, 11, 0.037);
    opacity: 0.3;
}

/* THIS IS TO REPLACE MULTIPLE SELECTORS */
/* HIGHLIGHT TOGGLE BUTTONS (.control-toggle-button) ON HOVER */
.info-button:hover,
.beginner-button:hover,
.control-toggle-button:hover {
    font-weight: 500;
    /* border: 1px solid rgba(149, 149, 149, 0.515); */
    /* background: rgb(170, 232, 251); */
    border-width: 2px;

    /* opacity: 1; */
}

/* ALL TOGGLE / INFO / BEGINNER BUTTONS  */
.control-wrap.dark-theme .info-button:hover,
.control-wrap.dark-theme .beginner-button:hover,
.control-wrap.dark-theme .control-toggle-button:hover {
    /* background: lightgreen; */
    background: #4d4d4d4a;

    /* color: rgb(215, 215, 215); */
    color: rgb(219, 168, 37);
    border: 1px solid darkgoldenrod;
    font-weight: 500;
}

/* DO NOT INCREASE FONT WEIGHT WHEN :DISABLED:HOVER */
.control-toggle-button:disabled:hover,
.info-button:disabled:hover,
.beginner-button:disabled:hover {
    /* background: lightgreen; */
    font-weight: 300;
}

.control-wrap.dark-theme .control-toggle-button:disabled:hover,
.control-wrap.dark-theme .info-button:disabled:hover,
.control-wrap.dark-theme .beginner-button:disabled:hover {
    /* background: lightgreen; */
    font-weight: 300;
}

/* 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 BEGINNER CONTROLS 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.scene--controls {
    width: 900px;
    height: 150px;
    margin: 0px auto;
    perspective: 800px;
}

.card--controls {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card__face--controls {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 25px 0px 0px 0px;
    backface-visibility: hidden;
}

/* ADVANCED / DEFAULT LEVEL */
.card__face--front--controls {
    /* background: rgb(250, 124, 124); */
    background: var(--wrap-highlight--light);
    border: 1px solid var(--border-grey);
    border-radius: 4px;
}

.card__face--front--controls.dark-theme {
    background: rgb(25, 25, 25);
    border: 1px solid var(--border-gold);
    border-radius: 4px;
}

/* BEGINNER LEVEL */
.card__face--back--controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: rgba(0, 0, 255, 0.507); */
    /* background: rgba(0, 119, 255, 0.295); */
    /* background: rgba(0, 76, 163, 0.658); */
    /* border: 1px solid var(--border-gold); */

    background: var(--wrap-highlight--light);
    border: 1px solid var(--border-grey);

    border-radius: 4px;
    padding: 5px 0px 5px 0px;
    transform: rotateY(180deg);
}

.card__face--back--controls.dark-theme {
    background: rgba(0, 119, 255, 0.507);
    background: rgba(0, 119, 255, 0.295);
}

.card--controls.flipped {
    transform: rotateY(180deg);
}

.level-button-container {
    /* display: flex; */
    width: 850px;
    margin: 0px auto;
}

/* LEVEL BUTTONS */
.control-panel-button.level-button {
    font-family: "Roboto", sans-serif;
    width: fit-content;
    font-weight: 100;
    width: 80px;
    margin: 5px;
}

/* LEVEL BUTTONS : TOGGLE ON */
.control-panel-button.level-button.toggle-on {
    font-weight: 500;
}

/* LEVEL BUTTONS : HOVER */
.control-panel-button.level-button:hover {
    /* THIS IS THE CONTROL-APPLY-ACTIVE COLOUR */
    /* TRY A LIGTHER SHADE ??? */
    background: rgba(144, 238, 144, 0.765);
    border: 1px solid rgb(149, 149, 149);
    font-weight: 500;
}

.level-button {
    letter-spacing: 5px;
}

/* TOOLTIP */
/* SOURCE: https://www.w3schools.com/css/css_tooltip.asp#:~:text=HTML%3A%20Use%20a%20container%20element,with%20class%3D%22tooltiptext%22%20. */

/* Tooltip container (HOVERABLE TEXT) */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.317);
    background-color: rgba(191, 179, 179, 0.895);

    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 1px;
    padding: 5px 0;
    border: 1px solid var(--border-gold);
    border-radius: 4px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* BOTTOM TOOLTEXT */
.tooltip .tooltiptext {
    width: 80px;
    /* BELOW WITH LITTLE GAP */
    /* top: 120%;
    left: 50%; */
    /* TOP RIGHT */
    top: -300%;
    left: 50%;
    margin-left: -40px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* TOOLTIP BOTTOM ARROW */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(191, 179, 179) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.beginner-control-hide-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 150px; */
    height: 70px;
    margin: 0px auto;
    /* border: 1px solid black; */
}

.beginner-control-hide-container .control-panel-button {
    width: 80px;
    margin: 0px 5px 0px 5px;
}

/* 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 TEXT CONTAINERS 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.active-container {
    /* width: 100%; */
    /* padding: 0px 20px 0px 20px; */
    /* !!! ONLY 50 PX MARGING IS VISIBLE, FIND OTHER 25PX !!! */
    margin: 75px 0px 0px 0px;
    font-weight: 400;
}

.next-container {
    color: rgb(74, 73, 73);
}

/* BOTH LINES */
.text-span-container {
    width: 100%;
    height: 50px;
    padding-top: 4px;
    /* padding-bottom: 3px; */
    background: var(--text-field-offwhite);
    border: 1px solid var(--border-grey);
    border-radius: 4px;
}

.text-span-container.dark-theme {
    background: rgba(48, 75, 92, 0.08);
    border: 1px solid var(--border-gold);
}

/* ACTIVE LINE SPANS */
.active-txt-span {
    font-size: var(--font-32);
    /* LETTER SPACING */
    padding: 0px 1px 0px 0px;
}

.text-span-container.dark-theme .active-txt-span {
    /* color: beige; */
    /* color: grey; */
    color: rgb(178, 178, 178);
}

.text-span-container.dark-theme .active-txt-span.red {
    color: red;
}

.text-span-container.dark-theme .active-txt-span.orange {
    color: orange;
}

.text-span-container.dark-theme .active-txt-span.green {
    color: green;
}

/* LAST SPACE IN ACTIVE LINE(BORDER NEEDS WIDTH AND HEIGHT) */

/* ENTER OFF, LAST SPACE */
.active-txt-span:last-child {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 16px;
    height: 30px;
    /* background: lightskyblue; */
}

/* COLOUR-THEME CLASS NOT ADDED YET */
.active-txt-span.dark-theme:last-child {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 16px;
    height: 30px;
    background: lightskyblue;
}

/* 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 ENTER ON 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

/* ACTIVE ENTER */
.active-txt-span.active-txt-span--enter {
    display: inline-block;
    position: relative;
    /* top: 5px; */
    top: -3px;
    left: 10px;
    width: 45px;
    height: 20px;
    height: 30px;
    height: 39px;

    padding-top: 8px;
    border-radius: 4px;

    font-size: 20px;
    margin: 0px 0px 0px 10px;
    /* SAME AS CONTROL PANEL BUTTONS : ACTIVE */
    background: rgb(215, 242, 250);
}

.text-span-container.dark-theme .active-txt-span--enter {
    background: rgba(135, 206, 250, 0.252);
}

/* NEXT ENTER */
p .active-txt-span.active-txt-span--enter {
    /* display: inline-block; */

    /* DO NOT SHOW ENTER ICON IN NEXT LINE */
    display: none;
    opacity: 0.7;
    position: relative;
    /* top: 5px; */
    top: -1px;
    left: 10px;
    width: 45px;
    height: 20px;
    height: 30px;
    height: 39px;

    padding-top: 6px;
    border-radius: 4px;

    font-size: 20px;
    margin: 0px 0px 0px 10px;
    background: rgba(135, 206, 250, 0.156);
}

/* ENTER ON ENTER */
/* .active-txt-span:last-child {
    display: inline-block;
    position: relative;w
    top: 5;
    top: 1px;
    width: 22px;
    width: 45px;
    height: 20px;

    font-size: 20px;
    margin: 0px 0px 0px 10px;
    background: lightskyblue;
} */

/* NEXT LINE STRING */
.text-span-next {
    font-size: var(--font-32);
    letter-spacing: 0.5px;
}

/* 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 INPUT ROW 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.input-container {
    width: 100%;
    /* width: 850px; */
    height: 50px;
    margin: 50px 0px 0px 0px;
    padding: 0px 25px 0px 25px;
    /* display: flex; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
}

/* TIMER */
.counter-div {
    width: 125px;
    height: 50px;
    font-size: var(--font-32);
    padding: 5px;
    border-radius: 4px;
    background: var(--text-field-offwhite);
    border: 1px solid var(--border-grey);
}

.counter-div.dark-theme {
    background: rgba(86, 85, 86, 0.412);
    background: rgba(48, 75, 92, 0.291);
    background: rgba(48, 75, 92, 0.08);

    border: 1px solid var(--border-gold);
    border: 1px solid rgba(184, 135, 11, 0.253);
}

.counter-div.dark-theme {
    /* color: beige; */
    color: darkgoldenrod;
}

.input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.text-input {
    width: 500px;
    height: 50px;
    padding: 0px 20px 0px 20px;
    font-size: var(--font-32);
    text-align: left;
    /* HAS TO ADJUST AS FORM IS DISABLED */
    margin-right: 22px;
    /* CENTER WILL ALSO PUT CURSOR IN THE MIDDLE */
    /* text-align: center; */
    /* color: grey; */
    color: rgb(74, 73, 73);
    /* color: beige; */
    font-weight: 300;
    /* border: none; */
    border: 1px solid var(--border-grey);
    border-radius: 4px;
    background-color: var(--text-field-offwhite);
}

.text-input.dark-theme {
    /* color: rgb(225, 224, 224); */
    color: rgb(178, 178, 178);
    font-weight: 300;
    /* border: none; */
    border: 1px solid rgba(184, 135, 11, 0.253);
    background: rgba(48, 75, 92, 0.291);
}

.start-button {
    width: 125px;
    height: 50px;
    /* border: none; */
    border: 1px solid var(--border-grey);
    border-radius: 4px;
    font-size: var(--font-32);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.start-button.dark-theme {
    background: rgba(144, 238, 144, 0.374);
    /* background: rgba(144, 238, 144, 0.495); */
    color: rgb(229, 172, 28);
    font-weight: 400;
    border: 1px solid rgba(184, 135, 11, 0.296);
    /* filter: grayscale(0); */
}

/* REFRESH ICON FOR NEW TEXT */
/* NOT IN USE */
/* .material-symbols-sharp {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
} */

/* .start-button:active:hover {
    background: lightgreen;
} */

/* 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 STATISTICS 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.stats-and-keys-container {
    display: flex;
    align-items: center;
    margin-top: 25px;
    /* border: 2px solid black; */
}

.stats-container {
    /* height: 225px; */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* SAME AS CONTROL WRAP */
.stat-wrap {
    /* USE THIS WITH .keyboard - zoom: 105% */
    /* width: 100px; */
    width: 150px;
    height: 100px;
    height: 112px;
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    padding: 8px;
    border: 1px solid var(--border-grey);
    border-radius: 4px;

    /* background: rgba(184, 135, 11, 0.199); */
    background: var(--wrap-highlight--light);
}

.stat-wrap.dark-theme {
    /* SLIGTHLY LIGHTER THAN KEYBOARD KEYS */
    background: rgb(25, 25, 25);
    border: 1px solid var(--border-gold);
}

.speed-span {
    font-size: var(--font-48);
}

.speed-span.dark-theme {
    color: rgb(222, 131, 13);
    color: darkgoldenrod;
}

/* // 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 MESSAGE DIV 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.message-div {
    position: absolute;
    width: 500px;
    height: 50px;
    font-size: 24px;
    top: 450px;
    top: 475px;
    left: 250px;
    padding: 10px;
    border: 1px solid var(--border-grey);
    /* border: 1px solid rgba(184, 135, 11, 0.655); */
    border-radius: 4px;
}

.message-div.dark-theme {
    border: 1px solid rgba(184, 135, 11, 0.253);
    background: rgba(135, 206, 250, 0.12);
    background: rgba(48, 75, 92, 0.08);
}

/* // 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 KEYBOARD 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */
/* SOURCE: https://codepen.io/gschier/pen/VKgyaY */

.keyboard {
    position: relative;
    /* width: fit-content; */
    top: 45px;
    zoom: 77.5%;
    /* zoom: 77%; */
    /* zoom: 105%; */
    text-align: center;
    /* font-size: 16px; */
    font-size: 12px;
    font-family: sans-serif;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /* padding: 20px 0px 20px 0px; */
    /* border: 1px solid var(--border-gold); */
}

.keyboard__row {
    display: inline-block;
    height: 3em;
    margin: 0.2em;
}

.keyboard__row--h1 {
    height: 1.7em;
    line-height: 1.4em;
}

.keyboard__row--h3 {
    height: 3.3em;
}

.keyboard__row > * {
    position: relative;
    text-align: center;
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    /* color: var(--border-gold); */
    -webkit-user-select: none;
    /* border: 1px solid #444; */
    /* border: 1px solid rgb(0, 0, 0); */
    border: 1px solid var(--border-grey);

    /* BLACK KEYS STYLE */

    /* background: #333; */
    /* color: #eee; */
    /* border: 1px solid #444; */
    /* box-shadow: 0 0.2em 0 0.05em #222; */
    /* box-shadow: 0 0.1em 0 0.03em #222; */
    /* border-bottom-color: #555; */
}

.keyboard.dark-theme .keyboard__row > * {
    color: var(--border-gold);
    -webkit-user-select: none;
    /* border: 1px solid #444; */
    /* border: 1px solid rgb(0, 0, 0); */
    border: 1px solid var(--border-gold);
    background: rgb(20, 20, 20);
    /* BLACK KEYS STYLE */

    /* background: #333; */
    /* color: #eee; */
    /* border: 1px solid #444; */
    /* box-shadow: 0 0.2em 0 0.05em #222; */
    /* box-shadow: 0 0.1em 0 0.03em #222; */
    /* border-bottom-color: #555; */
}

.keyboard__row--h1 > div {
    width: 3.5em;
}

.keyboard__row > div[data-pressed],
.keyboard__row > div:active {
    /* background: #2a2a2a; */
    background: #b77f1f42;
    background: rgba(184, 135, 11, 0.762);
    /* BLACK KEYBOARD */
    /* color: #aaa; */
    color: rgb(0, 0, 0);
    position: relative;
    top: 0.2em;
    /* box-shadow: 0 0 0 0.05em black; */
}

.key--w3 {
    width: 4.6em;
}

.key--w4 {
    width: 6em;
}

.key--w5 {
    width: 6.5em;
}

.key--w6 {
    width: 8.3em;
}

.key--space {
    width: 18em;
}

.key--double > * {
    padding-top: 0.1em;
}

.key--letter {
    line-height: 2.8em;
}

.key--bottom-left > * {
    position: absolute;
    text-align: left;
    bottom: 0.4em;
    left: 0.4em;
}

.key--bottom-right > * {
    position: absolute;
    text-align: right;
    bottom: 0.4em;
    right: 0.4em;
}

.key--fn > * {
    font-size: 0.6em;
    line-height: 1em;
    padding-top: 1.2em;
    padding-right: 0.2em;
    text-align: right;
    float: right;
}

.key--word > * {
    font-size: 0.8em;
}

.key--arrow--tall > *,
.key--arrow > * {
    font-size: 0.5em;
    line-height: 3em;
}

.key--arrow {
    height: 1.8em;
    margin-top: 1.7em;
    line-height: 0.5em;
}

.key--arrow--tall > * {
    padding-top: 0.2em;
}

.keyboard > .keyboard__row {
    text-align: center;
}

/* 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 COLOUR CODE 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.colour-code-container {
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px 0px 0px;
    /* border: 3px solid lightcoral; */
}

.colour-code-wrap {
    width: 150px;
    height: 75px;
    padding: 5px;
    border: 1px solid var(--border-grey);
    border-radius: 4px;
    line-height: 1.6rem;
    /* background: rgba(184, 135, 11, 0.199); */
    background: var(--wrap-highlight--light);
}

.colour-code-wrap.dark-theme {
    /* SLIGHTLY DARKER THAN KEYBOARD KEYS */
    background: rgb(25, 25, 25);
    border: 1px solid var(--border-gold);
}

/* EXAMPLE TEXT */
.colour-code-wrap--not-typed.dark-theme h3,
.colour-code-wrap--skipped.dark-theme h3 {
    color: rgba(255, 255, 255, 0.509);
}

.colour-code-wrap h3 {
    margin-bottom: 8px;
}

/* EXAMPLE TEXT CURSOR BACKGROUND */
.colour-code-wrap--skipped.dark-theme .background {
    background: rgb(100, 100, 100);
}

.colour-counter-span {
    font-size: var(--font-32);
}

.keystrokes-span,
.accuracy-span {
    font-size: var(--font-48);
}

.keystrokes-span.dark-theme {
    color: darkgoldenrod;
}

/* THIS OVERWRITES COLOUR CLASSES ADDED IN JS */
.accuracy-span.dark-theme {
    color: darkgoldenrod;
}

/* 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 INSTRUCTIONS 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.instructions-container {
    width: 1000px;
    height: 120px;
    height: 800px;
    /* margin: 50px auto; */
    margin: 50px auto;
    background: #f0efeb;
    border: 1px solid var(--border-grey);
    border-radius: 4px;
    padding: 20px 12px 0px 20px;
    /* font-family: "Roboto", sans-serif; */
    text-align: left;
    font-weight: 300;
    line-height: 1.3rem;

    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;

    /* backface-visibility: hidden; */
}

.instructions-container.dark-theme {
    width: 1000px;
    height: 120px;
    height: 800px;
    /* margin: 50px auto; */
    margin: 50px auto;
    background-color: rgb(28, 28, 28);
    color: rgb(178, 178, 178);
    border: 1px solid var(--border-gold);
    border-radius: 4px;
    padding: 20px 12px 0px 20px;
    /* font-family: "Roboto", sans-serif; */
    text-align: left;
    font-weight: 300;
    line-height: 1.3rem;

    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;

    /* backface-visibility: hidden; */
}

.flip-button__card--main {
    /* display: inline-block; */
    width: 45px;
    height: 25px;
    border: 1px solid black;
    border: 1px solid var(--border-grey);
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    /* background: lightgreen; */
    background: rgb(215, 242, 250);
    margin-left: 450px;
}

.instructions-container .flip-button__card--main:hover {
    background: lightgreen;
    background: rgb(170, 232, 251);
    font-weight: 500;
    border: 1px solid rgb(149, 149, 149);
}

.instructions-container.dark-theme .flip-button__card--main {
    /* font-family: "Roboto", sans-serif; */
    font-weight: 100;
    background: #4d4d4d91;
    color: darkgoldenrod;
    border: 1px solid var(--border-gold);
}

.instructions-container.dark-theme .flip-button__card--main:hover {
    background: #4d4d4d4a;

    /* color: rgb(215, 215, 215); */
    color: rgb(219, 168, 37);
    border: 1px solid darkgoldenrod;
    font-weight: 500;
}

.instructions-container p {
    margin-left: 20px;
}

.instructions-container h3 {
    margin-bottom: 5px;
    display: inline;
}

.instructions-container.dark-theme h3 {
    /* color: rgb(222, 131, 13); */
    color: darkgoldenrod;
}

.instructions-container li {
    margin-left: 30px;
}

.instructions-container span {
    font-weight: 400;
    margin-right: 3px;
}

/* TEST PROBLEM KEYS DIV */

.problem-keys-container {
    width: 1000px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 5px;
    border: 1px solid var(--border-gold);
    border-radius: 4px;
}

.problem-keys-container span {
    /* text-align: center; */
    width: 40px;
    font-size: var(--font-32);
    margin: 0px 1px 0px 1px;

    padding: 0px 5px 0px 5px;
    /* !!! RED CLASS DOES NOT OVERWRITE CSS COLOUR !!! */
    color: rgba(73, 74, 73, 0.427);
    border: 1px solid rgba(73, 74, 73, 0.427);
    border-radius: 4px;
}

.problem-keys-container span.red {
    font-size: var(--font-32);
    font-weight: 500;
    background: rgba(255, 0, 0, 0.247);
    border: 1px solid red;
    border-radius: 4px;
}

/* 
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰  COLOURS  🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.green {
    color: green;
}

.light-green {
    color: rgb(63, 188, 63);
}

.yellow-green {
    color: yellowgreen;
}

.yellow {
    color: rgb(255, 255, 0);
}

.gold {
    color: gold;
}

.orange {
    color: orange;
}

.orange-red {
    color: rgb(255, 102, 0);
}

.red {
    color: red;
    /* background: rgba(255, 0, 0, 0.463); */
}

.red-background {
    background: rgba(255, 0, 0, 0.463);
}

.keyboard.dark-theme .red-background {
    background: rgba(255, 0, 0, 0.463);
}

.dark-gold-background {
    background-color: darkgoldenrod;
}

/* .ligtht-sky-blue-background {

} */

.control-panel-button.control-apply-active {
    /* background: rgb(144, 238, 144); */
    /* border: 1px solid var(--border-grey); */
    border: 2px double green;
    color: green;
    font-weight: 500;
}

/* !!! HAVE TO STYLE DARK THEME START BUTTON SEPARATELY */
.start-button.control-apply-active {
    background: rgb(144, 238, 144);
    color: black;
    border: 1px solid var(--border-grey);
    /* border: 1px solid green; */
}

.control-wrap.dark-theme .control-apply-active {
    background: rgba(144, 238, 144, 0.374);
    /* background: rgba(144, 238, 144, 0.495); */
    /* background: rgb(17, 156, 225); */
    color: rgb(229, 172, 28);
    font-weight: 500;
    border: 1px solid rgba(184, 135, 11, 0.296);
}

/* CURSOR */
.background {
    background: lightgrey;
}

.text-span-container.dark-theme .background {
    border: 1px solid rgb(67, 67, 67);
    background: rgb(100, 100, 100);
}

.no-background {
    background: none;
}

.black-border {
    border: 1px solid black;
    border-radius: 4px;
}

.red-border {
    border: 1px solid red;
    border-radius: 4px;
}

.orange-border {
    border: 1px solid orange;
    border-radius: 4px;
}

.redOrangeDiv {
    width: 75px;
    display: flex;
    justify-content: space-between;
}

/* 
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰  ANIMATIONS  🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.fadeIn {
    /* DISABLE WITH Z INDEX */
    /* z-index: 1; */
    animation: fadeIn 2s linear;
    /* FADE IN AND STAY SO */
    animation-fill-mode: forwards;
}

.fadeOut {
    /* DISABLE WITH Z INDEX */
    /* z-index: -1; */
    animation: fadeOut 2s linear;
    /* FADE OUT AND STAY SO */
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.totalFadeOut {
    /* DISABLE WITH Z INDEX */
    /* z-index: -1; */
    animation: totalFadeOut 2s linear;
    /* FADE OUT AND STAY SO */
    animation-fill-mode: forwards;
}

@keyframes totalFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* .enlarged {
    font-size: 35px;
} */

/* 
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 CUSTOM STYLES 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

/* 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰  RANGE  🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */
/* SOURCE: https://www.cssportal.com/style-input-range/ */
input[type="range"] {
    /* DISABLED AS IT WILL ADD A WHITE BACKGROUND */
    /* height: 17px; */
    -webkit-appearance: none;
    margin: 10px 0;
    /* width: 100%; */
    /* width: 125px; */
}

input[type="range"]:focus {
    outline: none;
}

/* TRACK */
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #50555c;
    border-radius: 14px;
    border: 0px solid #ff6987;
}

/* SLIDER */
input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 11px;
    width: 15px;
    border-radius: 8px;
    background: #529de1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.5px;
}

/* SLIDER HOVER */
input[type="range"]::-webkit-slider-thumb:hover {
    /* background: lightgreen; */
    background: #50555c;
    /* height: 15px; */
    /* width: 20px; */
    /* margin-left: 1px; */
}

/* !!! NOT WORKING !!! */
/* SLIDER: DISABLED: HOVER */
input[type="range"]::-webkit-slider-thumb:disabled:hover {
    /* background: lightgreen; */
    background: #529de1;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #50555c;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #50555c;
    border-radius: 14px;
    border: 0px solid #ff6987;
}

input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 11px;
    width: 17px;
    border-radius: 8px;
    background: #529de1;
    cursor: pointer;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background: #50555c;
    border: 0px solid #ff6987;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #000000;
}

input[type="range"]::-ms-fill-upper {
    background: #50555c;
    border: 0px solid #ff6987;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #000000;
}

input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 11px;
    width: 17px;
    border-radius: 8px;
    background: #529de1;
    cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
    background: #50555c;
}

input[type="range"]:focus::-ms-fill-upper {
    background: #50555c;
}

/* 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 RADIOS 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */
/* SOURCE: https://codepen.io/manabox/pen/raQmpL */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

/* RADIO LABEL TEXT */
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    width: 75px;
    height: 16px;
    padding-left: 28px;
    cursor: pointer;

    margin: 4px;

    /* line-height: 20px; */
    display: inline-block;
    color: #666;
}

.control-wrap.dark-theme [type="radio"]:checked + label,
.control-wrap.dark-theme [type="radio"]:not(:checked) + label {
    color: darkgoldenrod;
}

/* [type="radio"]:checked+label,
[type="radio"]:not(:checked)+label:hover {
    color: red;
} */

/* ENABLED: HOVER */

/* RADIO HOVER BACKGROUND HIGHLIGHT */
/* TRY TO ADJUST WIDTH */
/* [type="radio"]:checked + label, */
[type="radio"]:not(:checked) + label:hover {
    /* BACKGROUND ONLY */
    /* background: lightgreen;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    /* TEXT */
    /* color: #529de1; */
    font-weight: 500;
    color: #50555c;
}

/* DISABLED: HOVER */
[type="radio"]:not(:checked):disabled + label:hover {
    cursor: default;
    font-weight: 300;

    color: #50555c;
}

/* :CHECKED: DISABLED: HOVER */
[type="radio"]:checked:disabled + label:hover {
    cursor: default;
    font-weight: 300;

    color: #50555c;
}

/* OUTER CIRCLE */
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.control-wrap.dark-theme [type="radio"]:checked + label:before,
.control-wrap.dark-theme [type="radio"]:not(:checked) + label:before {
    border: 1px solid darkgoldenrod;
    border-radius: 100%;
    background: #4d4d4d91;
}

/* [type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before:hover {
    background: red;
} */

/* INNER CIRCLE */
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: "";
    width: 10px;
    height: 10px;
    /* background: #f87da9; */
    /* SAME AS SLIDER THUMB */
    background: #529de1;
    /* CENTER ITS POSITION */
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* [type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after:hover {
    background: red;
} */

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* ANOTHER SIMPLE ONE FROM W3SCHOOLS: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio */

/* 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰  BLINK  🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */
.blink {
    -webkit-animation: blink-text 800ms linear infinite;
    -moz-animation: blink-text 800ms linear infinite;
    -ms-animation: blink-text 800ms linear infinite;
    -o-animation: blink-text 800ms linear infinite;
    animation: blink-text 800ms linear infinite;
}

@-webkit-keyframes blink-text {
    0% {
        color: black;
        opacity: 1;
    }

    20% {
        color: black;
        opacity: 0.8;
    }

    30% {
        color: black;
        opacity: 0.6;
    }

    40% {
        color: black;
        opacity: 0.4;
    }

    50% {
        color: black;
        opacity: 0.2;
    }

    60% {
        color: black;
        opacity: 0;
    }

    70% {
        color: black;
        opacity: 0.2;
    }

    80% {
        color: black;
        opacity: 0.4;
    }

    90% {
        color: black;
        opacity: 0.6;
    }

    98% {
        color: black;
        opacity: 0.8;
    }

    100% {
        color: black;
        opacity: 1;
    }
}

@-moz-keyframes blink-text {
    0% {
        color: black;
        opacity: 1;
    }

    20% {
        color: black;
        opacity: 0.8;
    }

    30% {
        color: black;
        opacity: 0.6;
    }

    40% {
        color: black;
        opacity: 0.4;
    }

    50% {
        color: black;
        opacity: 0.2;
    }

    60% {
        color: black;
        opacity: 0;
    }

    70% {
        color: black;
        opacity: 0.2;
    }

    80% {
        color: black;
        opacity: 0.4;
    }

    90% {
        color: black;
        opacity: 0.6;
    }

    98% {
        color: black;
        opacity: 0.8;
    }

    100% {
        color: black;
        opacity: 1;
    }
}

@-ms-keyframes blink-text {
    0% {
        color: black;
        opacity: 1;
    }

    20% {
        color: black;
        opacity: 0.8;
    }

    30% {
        color: black;
        opacity: 0.6;
    }

    40% {
        color: black;
        opacity: 0.4;
    }

    50% {
        color: black;
        opacity: 0.2;
    }

    60% {
        color: black;
        opacity: 0;
    }

    70% {
        color: black;
        opacity: 0.2;
    }

    80% {
        color: black;
        opacity: 0.4;
    }

    90% {
        color: black;
        opacity: 0.6;
    }

    98% {
        color: black;
        opacity: 0.8;
    }

    100% {
        color: black;
        opacity: 1;
    }
}

@-o-keyframes blink-text {
    0% {
        color: black;
        opacity: 1;
    }

    20% {
        color: black;
        opacity: 0.8;
    }

    30% {
        color: black;
        opacity: 0.6;
    }

    40% {
        color: black;
        opacity: 0.4;
    }

    50% {
        color: black;
        opacity: 0.2;
    }

    60% {
        color: black;
        opacity: 0;
    }

    70% {
        color: black;
        opacity: 0.2;
    }

    80% {
        color: black;
        opacity: 0.4;
    }

    90% {
        color: black;
        opacity: 0.6;
    }

    98% {
        color: black;
        opacity: 0.8;
    }

    100% {
        color: black;
        opacity: 1;
    }
}

@keyframes blink-text {
    0% {
        color: black;
        opacity: 1;
    }

    20% {
        color: black;
        opacity: 0.8;
    }

    30% {
        color: black;
        opacity: 0.6;
    }

    40% {
        color: black;
        opacity: 0.4;
    }

    50% {
        color: black;
        opacity: 0.2;
    }

    60% {
        color: black;
        opacity: 0;
    }

    70% {
        color: black;
        opacity: 0.2;
    }

    80% {
        color: black;
        opacity: 0.4;
    }

    90% {
        color: black;
        opacity: 0.6;
    }

    98% {
        color: black;
        opacity: 0.8;
    }

    100% {
        color: black;
        opacity: 1;
    }
}

/* .input-container {
    width: 750px;
    height: 100px;
    margin: 50px auto;
    border: 3px solid darkgoldenrod;
} */

/* // 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 APP / INFO FLIP 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

.scene--main {
    width: 1000px;
    height: 850px;
    margin: 0px auto;
    /* perspective: 2000px; */
    perspective: 800px;
}

.card--main {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card__face--main {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

/* .card__face--front {
    background: red;
} */

.card__face--back--main {
    /* background: blue; */
    transform: rotateY(180deg);
    /* transform: rotateX(180deg); */
}

.card--main.flipped {
    transform: rotateY(180deg);
}
