/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* filter: grayscale(1); */
}

body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: antiquewhite;
}

/* h1 {
    margin-top: 10px;
} */

.container {
    width: 1000px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    /* padding: 25px; */
    border: 3px solid darkgoldenrod;
    border-radius: 4px;
    background-color: rgba(245, 245, 245, 0.206);
}

.wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    /* border: 3px solid darkgoldenrod; */
}

.counter-test {
    width: 125px;
    height: 50px;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
    background: #efefef;
    border: 2px solid darkgoldenrod;
}

.active-container,
.next-container,
.input-container,
.controls-container,
.stats-container,
.colour-code-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: 10px 0px 10px 0px;
    /* margin: 20px; */
    /* background-color: beige; */
    /* border: 3px solid lightcoral; */
    border-radius: 4px;
}

.control-wrap {
    width: 150px;
    height: 120px;
    /* padding: 5px; */
    /* padding: 8px; */
    border: 2px solid darkgoldenrod;
    border-radius: 4px;
}

.colour-code-container {
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.colour-code-wrap {
    width: 140px;
    height: 75px;
    padding: 8px;
    border: 2px solid darkgoldenrod;
    border-radius: 4px;
}

.control-panel-button {
    width: 45px;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
}

.active-container {
    /* width: 100%; */
    padding: 0px 20px 0px 20px;
}

.next-container {
    /* width: 100%; */
    padding: 0px 20px 0px 20px;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.input-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.stats-container {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

/* SAME AS CONTROL WRAP */
.stat-wrap {
    width: 175px;
    height: 120px;
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    padding: 8px;
    border: 2px solid darkgoldenrod;
    border-radius: 4px;
}

.speed-span {
    font-size: 60px;
}

/* BOTH LINES */
.text-span-container {
    /* width: 800px; */
    /* width: 875px; */
    width: 100%;
    height: 50px;
    /* margin: 10px auto; */
    padding-top: 4px;
    padding-bottom: 3px;
    background: #efefef;
    border: 2px solid darkgoldenrod;
    border-radius: 4px;
}

/* ACTIVE LINE SPANS */
.span {
    font-size: 30px;
    /* LETTER SPACING */
    padding: 0px 1px 0px 0px;
}

/* NEXT LINE STRING */
.text-span-next {
    font-size: 30px;
    letter-spacing: 0.5px;
}

.form input {
    width: 500px;
    height: 50px;
    padding: 0px 20px 0px 20px;
    font-size: 30px;
    text-align: left;
    /* border: none; */
    border: 2px solid darkgoldenrod;
    border-radius: 4px;
    background-color: #efefef;
}

.button {
    width: 125px;
    height: 50px;
    /* border: none; */
    border: 2px solid darkgoldenrod;
    border-radius: 4px;
    font-size: 24px;
}

/* .button:hover {
    
} */

/* COLOURS */
.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.control-apply-active {
    background: lightgreen;
}

.background {
    background: lightgrey;
}

.no-background {
    background: none;
}

.black-border {
    border: 1px solid black;
    border-radius: 4px;
}

.red-border {
    border: 1px solid red;
    border-radius: 4px;
}

/* .enlarged {
    font-size: 35px;
} */

/* CUSTOM RANGE STYLES */
/* SOURCE: https://www.cssportal.com/style-input-range/ */
input[type="range"] {
    /* DISABLED AS IT WILL ADD A WHITE BACKGROUND */
    /* height: 17px; */
    -webkit-appearance: none;
    margin: 10px 0;
    /* width: 100%; */
    width: 125px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #50555c;
    border-radius: 14px;
    border: 0px solid #ff6987;
}

input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 11px;
    width: 17px;
    border-radius: 8px;
    background: #529de1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.5px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #50555c;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #50555c;
    border-radius: 14px;
    border: 0px solid #ff6987;
}

input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 11px;
    width: 17px;
    border-radius: 8px;
    background: #529de1;
    cursor: pointer;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background: #50555c;
    border: 0px solid #ff6987;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #000000;
}

input[type="range"]::-ms-fill-upper {
    background: #50555c;
    border: 0px solid #ff6987;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #000000;
}

input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 11px;
    width: 17px;
    border-radius: 8px;
    background: #529de1;
    cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
    background: #50555c;
}

input[type="range"]:focus::-ms-fill-upper {
    background: #50555c;
}

/* RADIO BUTTONS */
/* SOURCE: https://codepen.io/manabox/pen/raQmpL */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #f87da9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* ANOTHER SIMPLE ONE FROM W3SCHOOLS: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio */

/* BLINKING CURRENT CHARACTER */
.blink {
    -webkit-animation: blink-text 800ms linear infinite;
    -moz-animation: blink-text 800ms linear infinite;
    -ms-animation: blink-text 800ms linear infinite;
    -o-animation: blink-text 800ms linear infinite;
    animation: blink-text 1000ms linear infinite;
}

@-webkit-keyframes blink-text {
    0% {
        color: black;
        opacity: 1;
    }

    20% {
        color: black;
        opacity: 0.8;
    }

    30% {
        color: black;
        opacity: 0.6;
    }

    40% {
        color: black;
        opacity: 0.4;
    }

    50% {
        color: black;
        opacity: 0.2;
    }

    60% {
        color: black;
        opacity: 0;
    }

    70% {
        color: black;
        opacity: 0.2;
    }

    80% {
        color: black;
        opacity: 0.4;
    }

    90% {
        color: black;
        opacity: 0.6;
    }

    98% {
        color: black;
        opacity: 0.8;
    }

    100% {
        color: black;
        opacity: 1;
    }
}

@-moz-keyframes blink-text {
    0% {
        color: black;
        opacity: 1;
    }

    20% {
        color: black;
        opacity: 0.8;
    }

    30% {
        color: black;
        opacity: 0.6;
    }

    40% {
        color: black;
        opacity: 0.4;
    }

    50% {
        color: black;
        opacity: 0.2;
    }

    60% {
        color: black;
        opacity: 0;
    }

    70% {
        color: black;
        opacity: 0.2;
    }

    80% {
        color: black;
        opacity: 0.4;
    }

    90% {
        color: black;
        opacity: 0.6;
    }

    98% {
        color: black;
        opacity: 0.8;
    }

    100% {
        color: black;
        opacity: 1;
    }
}

@-ms-keyframes blink-text {
    0% {
        color: black;
        opacity: 1;
    }

    20% {
        color: black;
        opacity: 0.8;
    }

    30% {
        color: black;
        opacity: 0.6;
    }

    40% {
        color: black;
        opacity: 0.4;
    }

    50% {
        color: black;
        opacity: 0.2;
    }

    60% {
        color: black;
        opacity: 0;
    }

    70% {
        color: black;
        opacity: 0.2;
    }

    80% {
        color: black;
        opacity: 0.4;
    }

    90% {
        color: black;
        opacity: 0.6;
    }

    98% {
        color: black;
        opacity: 0.8;
    }

    100% {
        color: black;
        opacity: 1;
    }
}

@-o-keyframes blink-text {
    0% {
        color: black;
        opacity: 1;
    }

    20% {
        color: black;
        opacity: 0.8;
    }

    30% {
        color: black;
        opacity: 0.6;
    }

    40% {
        color: black;
        opacity: 0.4;
    }

    50% {
        color: black;
        opacity: 0.2;
    }

    60% {
        color: black;
        opacity: 0;
    }

    70% {
        color: black;
        opacity: 0.2;
    }

    80% {
        color: black;
        opacity: 0.4;
    }

    90% {
        color: black;
        opacity: 0.6;
    }

    98% {
        color: black;
        opacity: 0.8;
    }

    100% {
        color: black;
        opacity: 1;
    }
}

@keyframes blink-text {
    0% {
        color: black;
        opacity: 1;
    }

    20% {
        color: black;
        opacity: 0.8;
    }

    30% {
        color: black;
        opacity: 0.6;
    }

    40% {
        color: black;
        opacity: 0.4;
    }

    50% {
        color: black;
        opacity: 0.2;
    }

    60% {
        color: black;
        opacity: 0;
    }

    70% {
        color: black;
        opacity: 0.2;
    }

    80% {
        color: black;
        opacity: 0.4;
    }

    90% {
        color: black;
        opacity: 0.6;
    }

    98% {
        color: black;
        opacity: 0.8;
    }

    100% {
        color: black;
        opacity: 1;
    }
}

/* .input-container {
    width: 750px;
    height: 100px;
    margin: 50px auto;
    border: 3px solid darkgoldenrod;
} */